<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" CONTENT="no-cache">
  <meta http-equiv="Cache-Control" CONTENT="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" CONTENT="0">
  <meta name="format-detection" content="email=no">
  <meta name="format-detection" content="telephone=no">
  <meta content="address=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="title" content="360问答,总用你的答案">
  <meta name="description" content="">
  <title>怎么戒除手淫_360问答</title>
  <link rel="shortcut icon" type="image/ico" href="http://p8.qhmsg.com/d/inn/34bfaf54/favicon2x.png">
  <link rel="stylesheet" href="http://s6.qhres.com/static/d7475374997c0386/combo/common/base_html.combo.css">
  <link rel="stylesheet" href="http://s7.qhres.com/static/4fc15ae6c1058a83/combo/index/detail.combo.css">
  <script>var $INFO = {};
  $INFO['uid'] = "";
  $INFO['root_domain'] = "so.com";
  $INFO['root_name'] = "360搜索";
  $INFO['wenda_domain'] = "wenda.so.com";
  $INFO['wenda_name'] = "360问答";</script>

  <script type="text/javascript">$INFO['isMyAsk'] = "0";
  $INFO['isMyAns'] = "";
  /*status是20则为已有满意答案*/
  $INFO['isResolved'] = "1";
  $INFO['askId'] = "1480238109611607";
  $INFO['qid'] = "2637618282";
  $INFO['cid'] = "111";// 问题分类ID
  $INFO['tid'] = "268605";// 问题标签ID</script>
</head>
<body style="padding-top:50px;"><!-- header -->
<header class="g-bar clearfix g-bar-fix">
  <a href="http://m.wenda.so.com">
    <h1 class="title" style="color: white">360问答</h1>
  </a>
  <a class="g-bar-btn search fr opt-item js-search" text="顶部导航搜索图标点击"></a>
</header>
<div class="menu-overlay js-menu-overlay">&nbsp;</div>
<div class="menu-list js-menu-list">
  <i class="menu-arrow"></i><a class="menu-item js-menu-login" href="/user/asklist" text="wap_右菜单_登录点击">登录</a><a class="menu-item" href="http://i.360.cn/reg/wap/?src=mpw_so_wenda" text="wap_右菜单_注册点击">注册</a><a class="menu-item pos-relative js-menu-activity" href="/activity?aid=52c720af01c476f338f254511466e256" text="wap_右菜单_节日活动"><i class="icon-point"></i>好友帮帮答</a>
</div><!-- 消息提醒 --><!-- content -->
<div class="g-card search-card js-mod-search">
  <form action="http://m.wenda.so.com/search/" id="js-search-form">
    <input type="search" name="q" placeholder="输入关键字搜索问题" class="search-key-word"><input type="image" src="http://p8.qhmsg.com/d/inn/ee49f203/icon-search.png" alt="搜索">
  </form>
</div><!-- 头部banner -->
<article class="g-card js-show-data" data-text="问答活动-医疗健康展示">
  <a href="http://m.wenda.so.com/activity/?aid=52c720af01c476f338f254511466e256" text="问答活动-医疗健康点击"><img src="http://p1.qhmsg.com/t011bf18d78bc66d97a.png" width="100%" height="50px"></a>
</article><!-- 已删除的问题 -->
<article class="g-card pd"><h2 class="q-title"><i class="title-ico ico-ask"></i>如何戒掉手淫的习惯？？
</h2>
  <input type="hidden" value="怎么戒除手淫" id="js-ask-title"><input type="hidden" value="1480238109611607" id="js-ask-id"><input type="hidden" value="" id="js-is-accept">
  <div class="q-con"><p>我手淫了10多年了，基本上每周都会手淫3-4次，甚至更多...。我也知道这样不好，一直想戒掉，但是坚持不了几天又开始撸了...。求那位大神告诉我戒除手淫最有效的方法.... 感谢！！！！
  </p></div>
  <div class="q-info grey"><span>匿名网友</span><span>2016-11-27</span><span>36个回答</span></div>
</article><!-- 满意回答 --><!-- 推荐|精华答案 -->
<article class="g-card"><h3 class="g-card-title no-arr"><i class="title-ico ico-rec"></i>推荐答案</h3>
  <div class="plr">
    <div class="flex-box ans-list">
      <span class="user-icon"><img src="http://p1.qhmsg.com/dm/150_150_100/t010d77071d5301134b.jpg" width="30" height="30"></span>
      <div class="flex">
        <div class="grey user-info">健康医疗达人&nbsp;<span class="orange">LV28</span></div>
        <div class="q-c-ans"><p>男生在自己的成长过程中，往往会有手淫的习惯。我也有过。在此我把自己的戒掉手淫的方法告诉大家。</p>

          <p>（1）首先您要对手淫的危害有个充分的认识。手淫无论次数多少都是有害的。

            有的资料上说,大部分男子在成长过程中都有手淫历史,所以手淫是正常的。
            这个观点是错误的，中国很多人都吸烟，很多人都打过架，
            难道吸烟和打架就理所当然成为了值得提倡和正常的事情吗?
            所以说这样的推论是站不脚的。</p>

          <p>（2）手淫的人往往在想戒掉手淫的时候有失败的教训。教训多了往往会信心不足。经过多次失败后甚至会自暴自弃，正所谓"一撸毁（悔）终身，疾病总缠身"，在这里我建议大家要坚定自己的戒除手淫信念，有必要时可以咨询一下这方面的专家，通过一些药物来戒除手淫，这样效果会更好。</p><p>
        </p><p>我推荐一位专家给你，陈文伯教授，他目前组建了一个戒除手淫的咨询团队，这个是他团队的公众号，你可以添加公众号:nanxingguanli，咨询下。</p></div>
        <div class="user-opt grey clearfix"><span class="fl">2016-11-30<i style="opacity:0">*</i></span>
          <div class="opt-btn fr" data-ansid="1480482012205916">
            <span class="approve js-opt-btn" data-opt="1">2586</span><span class="trample js-opt-btn"
                                                                        data-opt="0">-2</span>
          </div>
        </div>
        <div class="ask-answer-form js-ask-wrap">
          <div class="user-ask-texta">
            <textarea placeholder="追问回答者" rows="1" class="js-usr-textarea" data-maxlength="9000" data-minlength="3" data-askid="1480238109611607"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-ask-submit disabled fr" data-askid="1480238109611607" data-ansid="1480482012205916">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
        <div class="ask-answer-form js-answer-wrap">
          <div class="user-answer-texta">
            <textarea placeholder="追答提问者" rows="1" class="js-usr-textarea" data-maxlength="30000" data-minlength="3"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-answer-submit disabled fr" data-askid="1480238109611607" data-ansid="1480482012205916">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
      </div>
    </div>
  </div>
</article><!-- 全部/其他答案 -->
<article class="g-card"><h3 class="g-card-title no-arr"><i class="title-ico ico-other"></i>其他答案（35）</h3>
  <div class="plr js-more-list">
    <div class="flex-box ans-list">
      <span class="user-icon"><img src="http://p1.qhmsg.com/dm/100_100_100/t01b246bf63b167ee78.jpg" width="30" height="30"></span>
      <div class="flex">
        <div class="grey user-info">大荃哥&nbsp;<span class="orange">LV16</span></div>
        <div class="q-c-ans"><p>手淫危害真的很大，我也饱受其害...求方法...
        </p></div>
        <div class="user-opt grey clearfix"><span class="fl">2016-11-29<i style="opacity:0">*</i></span>
          <div class="opt-btn fr" data-ansid="1480433542205741"><span class="approve js-opt-btn" data-opt="1">47</span>
          </div>
        </div>
        <div class="ask-answer-form js-ask-wrap">
          <div class="user-ask-texta">
            <textarea placeholder="追问回答者" rows="1" class="js-usr-textarea" data-maxlength="9000" data-minlength="3" data-askid="1480238109611607"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-ask-submit disabled fr" data-askid="1480238109611607" data-ansid="1480433542205741">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
        <div class="ask-answer-form js-answer-wrap">
          <div class="user-answer-texta">
            <textarea placeholder="追答提问者" rows="1" class="js-usr-textarea" data-maxlength="30000" data-minlength="3"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-answer-submit disabled fr" data-askid="1480238109611607" data-ansid="1480433542205741">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
      </div>
    </div>
    <div class="flex-box ans-list">
      <span class="user-icon"><img src="http://p1.qhmsg.com/dm/100_100_100/t01eaccb2330750d36a.jpg" width="30" height="30"></span>
      <div class="flex">
        <div class="grey user-info">你太太大爷&nbsp;<span class="orange">LV15</span></div>
        <div class="q-c-ans"><p>转移注意力，避免看一些可以提起性欲的书籍或者衣物！同时可以搭配些戒除手淫方面的药物来治疗
        </p></div>
        <div class="user-opt grey clearfix"><span class="fl">2016-11-29<i style="opacity:0">*</i></span>
          <div class="opt-btn fr" data-ansid="1480350403204322"><span class="approve js-opt-btn" data-opt="1">892</span>
          </div>
        </div>
        <div class="ask-answer-form js-ask-wrap">
          <div class="user-ask-texta">
            <textarea placeholder="追问回答者" rows="1" class="js-usr-textarea" data-maxlength="9000" data-minlength="3" data-askid="1480238109611607"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-ask-submit disabled fr" data-askid="1480238109611607" data-ansid="1480350403204322">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
        <div class="ask-answer-form js-answer-wrap">
          <div class="user-answer-texta">
            <textarea placeholder="追答提问者" rows="1" class="js-usr-textarea" data-maxlength="30000" data-minlength="3"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-answer-submit disabled fr" data-askid="1480238109611607" data-ansid="1480350403204322">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
      </div>
    </div>
    <div class="flex-box ans-list">
      <span class="user-icon"><img src="http://p1.qhmsg.com/dm/100_100_100/t01d711308ce1fafd04.jpg" width="30" height="30"></span>
      <div class="flex">
        <div class="grey user-info">.艾莉丝.&nbsp;<span class="orange">LV13</span></div>
        <div class="q-c-ans"><p>最好交一个异性朋友, 男人连这点自制力都没有, 也是很难堪</p></div>
        <div class="user-opt grey clearfix"><span class="fl">2016-11-28<i style="opacity:0">*</i></span>
          <div class="opt-btn fr" data-ansid="1480335930202695"><span class="approve js-opt-btn" data-opt="1">889</span>
          </div>
        </div>
        <div class="ask-answer-form js-ask-wrap">
          <div class="user-ask-texta">
            <textarea placeholder="追问回答者" rows="1" class="js-usr-textarea" data-maxlength="9000" data-minlength="3" data-askid="1480238109611607"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-ask-submit disabled fr" data-askid="1480238109611607" data-ansid="1480335930202695">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
        <div class="ask-answer-form js-answer-wrap">
          <div class="user-answer-texta">
            <textarea placeholder="追答提问者" rows="1" class="js-usr-textarea" data-maxlength="30000" data-minlength="3"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-answer-submit disabled fr" data-askid="1480238109611607" data-ansid="1480335930202695">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
      </div>
    </div>
    <div class="flex-box ans-list">
      <span class="user-icon"><img src="http://p1.qhmsg.com/dm/100_100_100/t016ee58416505cbafb.jpg" width="30" height="30"></span>
      <div class="flex">
        <div class="grey user-info">wahbrian&nbsp;<span class="orange">LV17</span></div>
        <div class="q-c-ans"><p>陈文伯团队推荐的戒除手淫方法，挺好的，我也咨询过.. 通过他们的一些方法，再搭配服用药物，效果很好。我已经两年没有撸过了，身体也变好了。我有陈教授的个人微信号,
          不要到处乱散播喔, 微信号: docwenbo
        </p></div>
        <div class="user-opt grey clearfix"><span class="fl">2016-11-28<i style="opacity:0">*</i></span>
          <div class="opt-btn fr" data-ansid="1480335110201716"><span class="approve js-opt-btn"
                                                                      data-opt="1">1024</span>
          </div>
        </div>
        <div class="ask-answer-form js-ask-wrap">
          <div class="user-ask-texta">
            <textarea placeholder="追问回答者" rows="1" class="js-usr-textarea" data-maxlength="9000" data-minlength="3" data-askid="1480238109611607"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-ask-submit disabled fr" data-askid="1480238109611607" data-ansid="1480335110201716">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
        <div class="ask-answer-form js-answer-wrap">
          <div class="user-answer-texta">
            <textarea placeholder="追答提问者" rows="1" class="js-usr-textarea" data-maxlength="30000" data-minlength="3"></textarea>
          </div>
          <div class="clearfix">
            <input type="button" value="提交" class="btn-ask-submit js-answer-submit disabled fr" data-askid="1480238109611607" data-ansid="1480335110201716">
          </div>
          <p class="usr-tips js-texta-tips"></p></div>
      </div>
    </div>
  </div>
</article>

<script>window.namespace = function (e, t) {
    var n = e.split("."), r = 0, i;
    t = t || window;
    for (; i = n[r++];)t[i] || (t[i] = {}), t = t[i];
    return t
}</script>
<script src="http://s7.qhres.com/static/242b51a8fcf86bf3/page/zepto/zepto.combo.js"></script>
<script src="http://s0.qhmsg.com/!f816cab5/underscore-min.js"></script>
<script src="http://s0.qhmsg.com/monitor/;monitor/351eacc1.js"></script>
<script src="http://s6.qhres.com/static/8262b6dc36cee142/page/combo/common/base_html.combo.js"></script>
<script src="http://s0.qhmsg.com/i360/;js;/utils,login,reg,setname/20150617.js"></script>
<script src="http://s7.qhres.com/static/fea1a898b4242f70/page/combo/index/detail.combo.js"></script>
</body>
</html>
