<!DOCTYPE html>
<html lang="zh-CN">
<head>
  

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="工作之后怎么戒除手淫?">
<link rel="stylesheet" href="http://image.39.net/ask2016/wap/wapask/css/wapask_n.css">
<link rel="stylesheet" type="text/css" href="http://image.39.net/ask2016/wap/wapask/css/slick.css">
<script src="http://image.39.net/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../static/js/loginV2.js?time=20170304062029"></script>
<script src="http://image.39.net/ask2016/wap/wapask/js/slick.min.js"></script>
<script type="text/javascript" src="http://image.39.net/ask2016/wap/wapask/js/wapask.js"></script>
<title>工作之后怎么戒除手淫?</title>
<base target="_self">

  <style>
    .txt_height{   height: 167px;overflow: hidden;}
  </style>
        <style>
        #newBridge{
          display:none!important;
        }
        .zhuiwen{
          background-color: #f9f9f9;
          border: 1px solid #ebebeb;
          border-radius:4px;
          margin-bottom:4px;
        }

        .zhuiwen_item{
          margin: 5px;
        }

        .zhuiwen_title{
          color:#ccc;
        }

        .zhuiwen_content{
          color: #333;
        }
        </style>
          <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?119ff8c734f5a52ef0854098b017bdbb";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>

</head>
<body>
  



<!--头部start-->
<header>
  <div class="home_i">
    <a href="http://wapask.39.net/" onClick="ga('TestTracker.send', 'pageview', '/shouye/男科')">
      <img src="http://image.39.net/ask2016/wap/wapask/images/home.png" alt="">
    </a>
  </div>
  <div class="sea_a">
    <a href="http://wapask.39.net/so/Assist" onClick="ga('TestTracker.send', 'pageview', '/sousuo/男科')">
      <img src="http://image.39.net/ask2016/wap/wapask/images/sea.png" alt="">
      <span>请输入疾病/症状找问题</span>
    </a>
  </div>
  <div class="ask">
    <a href="http://p.qiao.baidu.com/cps/chat?siteId=10338402&userId=23057437">问医生</a>
  </div>
  <div class="user">
    <a href="http://wapask.39.net/account/mipusercenter" onClick="ga('TestTracker.send', 'pageview', '/geren/男科')">
      <img src="http://image.39.net/ask2016/wap/wapask/images/user.png" alt="">
    </a>
  </div>
</header>
<!--头部end-->


  <!--Content start-->
    <link rel="miphtml" href="/">

    <!--底部悬浮广告start-->
    <!--底部悬浮广告end-->

    <!--科室导航&帖子信息start-->
      <input type="hidden" id="tid_gla" value="10699444">
      <!--面包屑 start-->
      <div class="sub">
        <p class="xLocation">
          <a href="http://wapask.39.net/" title="">首页</a>&gt;
          
            <a target="_self"
            href="/"
               onclick="ga('TestTracker.send', 'pageview', '/mianbaoxie/男科')">
               男科</a> &gt;
          
          <a href="javascript:void(0);" title="" >
            手淫
          </a>
        </p>
      </div>
      <!--面包屑 end-->
    <a href="http://p.qiao.baidu.com/cps/chat?siteId=10338402&userId=23057437">
      <img src="/img/guang1.jpg" width="100%" alt="">
    <%= image_tag "pages/guang1.jpg", :width=>"100%" %>
        </a>

      <!--帖子相关start-->
      <section class="cont_a">
        <p class="title">工作之后怎么戒除手淫?</p>
        <div class="txt">
          <p class="txt1">病情描述：<span>今年26岁，已经有10年多的手淫史了，现在每天都是无精打采的，对什么都提不起兴趣，现在有手淫引起的早泄症状，请问怎么有效的戒掉手淫，我老是克制不住自己，坚持了两天老毛病又犯了。
</span></p>
            <p class="txt1">
              患者信息：
                <span>
                    男 &nbsp;
                    &nbsp;
                    26岁
                </span>
            </p>
            <p class="txt1">发病时间：<span>不清楚</span></p>
            <p class="txt2">
              
                <span>
                  <a href="http://wapask.39.net/browse/66902.html"
                     onclick="ga('TestTracker.send', 'pageview', '/tag/男科')">男性</a>
                </span>
                <span>
                  <a href="http://wapask.39.net/browse/11741.html"
                     onclick="ga('TestTracker.send', 'pageview', '/tag/男科')">手淫</a>
                </span>
                <span>
                  <a href="http://wapask.39.net/browse/16879.html"
                     onclick="ga('TestTracker.send', 'pageview', '/tag/男科')">早泄</a>
                </span>
            </p>
        </div>
        <div class="cont_time">
          <p class="time_l">2015-10-31 15:50</p>
          <p class="time_r">askFLU4</p>
        </div>
      </section>
      <!--帖子相关end-->

      <!--医生回复start-->
        
      <!--医生回复end-->

    <!--科室导航&帖子信息end-->


    <!--采纳答案start-->
      
        <section class="cont_b">
          <p class="cn">网友采纳</p>
          <div class="cont_all">
            <div class="cont_na">
              
              
                
                  <a href="/""
                    <p class="na_img" title="">
                      <img src="http://askimg.39.net/doctor/20110607/202579.jpg" alt="" />
                    </p>
                  </a>
                
                
              

              <div class="na_txt">
                <p class="txt_size">
                  彭清华
                  
                    
                  
                </p>
                <p class="txt_col">
                  主治医师&nbsp;
                    
                      男科 </p>
              </div>
            </div>
            <p class="con_txt"><strong>病情分析：</strong>你这种情况，是手淫的常见症状，手淫是一种损害身体的行为。长期或过频手淫会导致阴茎、前列腺等生殖器官局部充血，免疫力降低，容易诱发泌尿生殖系统感染，如前列腺炎、尿道炎，从而引起
              早泄、阳痿、勃起障碍等性功能障碍。甚至会导致肾虚，因为手淫消耗的是精，如果长期手淫会导致精气亏损，精气亏损是导致肾虚的主要原因，而肾在人体的生长、发育及生殖等功能中起到主导作用。如果不
            及时戒掉，严重的话可能会影响生育能力的，建议及早戒除这种不好的习惯，你这些症状就可以恢复了。<br/><br/>
            <strong>意见建议：</strong>关于戒除手淫的方法，你可以找陈文伯医生，我之前听过陈老的男性健康公益讲座，特别是在男性手淫方面的见解，让我受益良多。他目前在国内组建了一个男性自我管理协会的公益组织，主要针对男性戒
除手淫方面的研究。也是目前国内唯一一个比较有公信力的帮助男性戒除手淫的公益组织。并且目前男性自我管理协会，为了帮助更多的男性戒除手淫开通了微信公众平台1对1诊断咨询。你可以添加他们的微信公众号，把你目前的情况跟他们讲解下，听说已经有很多手淫习惯着通过他们提供的戒除方案戒掉了。<br/>
有什么问题，你可以咨询我，我的微信号是：luzz4073(长按可以复制)
<cite>2005-11-02 16:12</cite>            </p>
              <div class="zhuiwen">
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">提问者四叶草糖</font>追问</span>
                  <span class="zhuiwen_content">谢谢医生，陈文伯医生组建的男性自我管理协会的微信公众号是多少？</span>                </div>
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">医生彭清华</font>回答</span>
                  <span class="zhuiwen_content">微信公众号是：nanxingguanli（长按可以复制）</span>
                </div>
				<div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">提问者四叶草糖</font>追问</span>
                  <span class="zhuiwen_content">再次谢谢您，我已经添加了微信公众号，他们根据我的情况给我制定的戒除方案，确实很好，我相信这次我肯定能戒掉。</span>                </div>
				  
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友linxm</font>追问</span>
                  <span class="zhuiwen_content">我的手淫也是通过陈医生的治疗方案戒除的，9年的手淫史，之前尝试过许多戒除方法，都没有效果，还是陈医生的治疗方案效果好。</span>                </div>
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友656666</font>追问</span>
                  <span class="zhuiwen_content">我就是咨询陈文伯医生戒除了我8年的手淫习惯的，他给的治疗方案，效果确实很好。陈文伯医生的个人微信号是:docwenbo(长按可以复制)</span></div>
		    </div>
          </div>
        </section>
      
    <!--采纳答案end-->

    <!--帖子页专家回复下文字链-有采纳答案时候显示start-->
    
    
    <!--帖子页专家回复下文字链-有采纳答案时候显示end-->

    <!--健康经验start-->
      
        <section class="cont_b">
          <div class="test-ad-bt">
            健康经验
            <span class="txt_more">
                <a href="http://jingyan.39.net/">查看更多>></a>
            </span>
          </div>
          <div class="exper">
            <a href="http://jingyan.39.net/exp/6104.html">
              <p class="exp_txt">如何才能戒掉手淫？</p>
            </a>
          </div>
        </section>
    <a href="http://p.qiao.baidu.com/cps/chat?siteId=10338402&userId=23057437" style="">
    <%= image_tag "pages/csnr_640138_0831-(1).gif", :width=>"100%" %>
    </a>
      
    <!--健康经验end-->


    <!--医生回复start-->
      
        <section class="cont_b">
          <p class="cn_da">医生回答</p>
            
            
              
            
            
              <div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                          <%= image_tag "pages/1174448.png" %>
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">
                      盛少国
                      
                    </p>
                    <p class="txt_col">
                        博士&nbsp;男科</p>
                  </div>
                </div>
                <p class="con_txt"><strong>病情分析：</strong> 手淫习惯诱发初始一般在青春期，性欲较为旺盛的阶段，体内雄性激素分泌得不到排解，自己难以控制，导致手淫习惯并且一发不可收拾，慢慢的对手淫产生强烈的依赖感，随着手淫时间过久，次数增多导致睾丸对雄性激素分泌不协调。当患者发现身体不适时，才发现手淫对身体的危害。到处寻求戒除方法通过意志力、分散注意力等等，得不到成功的戒除。殊不知导致手淫的根本原因是体内雄激素分泌不协调所诱发的原因。所以说调节体内雄性激素正常的分泌，是戒除手淫的关键。<br/>
                  <br/>
                  <strong>意见建议：</strong>平时生活中，多参加文体活动，避免整日沉湎于性爱的幻想中，把精力转移到工作和学习上，增强自身的身体素质。同时服用一些戒除手淫，调节雄性激素方面的药物。不过药物不可乱用。由于每个人的患病严重程度不同，症状不同，治疗方案理应不同，要确定病情，对症下药。根据自身的情况来选择。你可以联系我把你的情况具体说下，我的微信号是：shengshaogong(长按可以复制)<br/>
                <cite>2015-11-14 11:13</cite>                </p>
                <div class="zhuiwen">
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">提问者四叶草糖</font>追问</span>
                  <span class="zhuiwen_content">嗯，谢谢任医生的回答，我已经加了陈文伯医生组建的男性自我管理协会微信公众号咨询了，按照他们提供你治疗方案，手淫问题已经戒掉了，现在身体恢复的也不错</span></div>
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">医生任国华</font>回答</span>
                  <span class="zhuiwen_content">那就好，助你早日康复，</span>陈老医生在男性疾病方面很有研究，是国内比较有名的医生，他的男性戒除手淫知识讲座，我也听过，确实很不错。</div>
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友野玫瑰0903</font>追问</span>
                  <span class="zhuiwen_content">楼主真的戒掉了吗？戒掉多久了，有没有复发？</span></div>
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">提问者四叶草糖</font>回答</span>
                  <span class="zhuiwen_content">是的已经戒掉了，现在已经成功戒掉1年多没有手淫过了。戒掉手淫后，早泄的问题，也得到了根治。</span></div>
              </div>
          </div>
              </div>
              <div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                          <img src="http://askimg.39.net/doctor/20110817/218230.jpg" alt="" />
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">
                        钟恒荣
                      
                        
                      
                    </p>
                    <p class="txt_col">
                        主任医师&nbsp;擅长中医、中西医结合治疗泌尿男科疾病&nbsp;                    </p>
                  </div>
                </div>
                <p class="con_txt">
                  <strong>病情分析：</strong> 你好，手淫过度，会造成肾气虚损、肾精不足、肾液枯竭，以致于出现男子遗精、滑精、阳痿、早泄或射精困难，以及腰酸腿软、耳鸣脱发等性功能衰退症状，人体靠血气滋养，没有消耗完的血气会在人体深度睡眠时转化为精，藏于肾中，封藏于骨内，以备不时之需。所以说应该早日戒除手淫，防止精气亏损。
		<br/>
		<br/>
		<strong>意见建议:</strong>你的病情描述的不是很清楚，可以加我的微信（bohua1201(长按可以复制)），把你的情况描述下。戒除的方法有很多，可以通过自己的意志力强制性戒除，也可以戒除药物来戒除。早些年国外的一些医学机构就已经有成功研制戒除手淫的药物了。
                  <cite>2015-12-06 12:31</cite>         
                <div class="zhuiwen">
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友柠檬阳阳</font>追问</span>
                  <span class="zhuiwen_content">钟医生您好，怎么通过意志力来戒除呢？</span></div>
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">医生钟</font></span><font color="#8EC45A">恒</font><span class="zhuiwen_title"><font color="#8EC45A">荣</font>回答</span>
                  <span class="zhuiwen_content">你好，意志力戒除比较难彻底戒掉，需要自身具有比较强的意志力，</span>你加我的微信（<span class="con_txt">bohua1201(长按可以复制)</span>），把你的情况跟我说下，我给你提供方法。</div>
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友柠檬阳阳</font>追问</span>
                  <span class="zhuiwen_content">好的</span></div>
				  <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">提问者四叶草糖</font>回答</span>
                  <span class="zhuiwen_content">是的已经戒掉了，现在已经成功戒掉1年多没有手淫过了。戒掉手淫后，早泄的问题，也得到了根治。</span></div>
              </div>       </p>
                  
                


                  
                    
                    
                    
                      
                        
                        
                          
                            
                            
                              
                              
                            
                          
                        
                      
                    
                  
          </div>
                
              </div>
              </div>
<div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                          <img src="http://askimg.39.net/doctor/20130428/362139.jpg" alt="" />
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">
                        张波
                      
                        <span class="txt_lx">合作</span>
                      
                    </p>
                    <p class="txt_col">
                        主任医师&nbsp;
                        
                          男科（男科研究所）&nbsp;
                        
                        
                    </p>
                  </div>
                </div>
                <p class="con_txt">
                    男性手淫容易导致前列腺炎和尿路感染和导致精神状态不好,乏力,性欲低下,影响工作和学习,甚至影响生育.建议不要穿过于紧的内裤.不要接触性刺激的图片和声音等.有睡眠需求的时候再上床睡觉.早晨不要念床,醒来后即使起床.以免想入非非.但是这些症状一般戒掉这个习惯也能够自行好转的.
                  <cite>2016-02-31 14:44</cite>                </p>
                  
                


                  
                    
                    
                    
                      
                        
                        
                          
                            
                            
                              
                            
                          
                        
                      
                    
                  
          </div>
                
              </div>
              </div>
<div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                          <img src="http://askimg.39.net/doctor/20140619/579208.jpg" alt="" />
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">
                        宋维华
                      
                      
                      
                    </p>
                    <p class="txt_col">
                        主任医师&nbsp;&nbsp;男科                    </p>
                  </div>
                </div>
                <p class="con_txt">
                    您好：过度手淫会使大脑的乙酰胆碱、副交感神经、多巴胺和复合胺神经系统被“燃烧”殆尽，导致大脑自主神经功能调整到“勃起无力”和“早泄”的模式。早泄可导致男性不育、可导致勃起功能障碍、给男性带来心理压力，还会影响夫妻感情。可采取手术疗法，有欧式阴茎被神经微控术：通过降低龟头敏感度，提高射精阀值。阴茎神经背降敏术亦可。平时忌烟忌酒、注意饮食，加强锻炼，保持良好的心态，祝您健康！建议您对症下药，找一些比较权威的专家问诊，楼上说的陈文伯医生就很不错，他组建的男性自我管理协会，是公益性的男性健康组织。并且是1对1问诊的，他们的微信公众号是：nanxingguanli(长按可以复制)祝您健康！
                  <cite>2016-06-28 09:25</cite>          
                <div class="zhuiwen">
                <div class="zhuiwen_item">
                  <span class="zhuiwen_title"><font color="#8EC45A">网友幸福的Lily </font>追问</span>
                  <span class="zhuiwen_content">好的，谢谢您。。。。</span></div>
    </div>
                  </p>
                  
                


                  
                    
                    
                    
                      
                        
                        
                          
                            
                            
                              
                        
                      
                    
                  
          </div>
                
              </div>
              
            
              <div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                           <img src="http://askimg.39.net/doctor/20160510/1154436.png" alt="" />
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">刘秀芝 </p>
                    <p class="txt_col">
                        主治医师&nbsp;
                        
                        全科
                    </p>
                  </div>
                </div>
                <p class="con_txt">
                     陈老医生是中国医药学会男性学专业委员会主任委员，享受国务院颁发的政府特殊津帖。在男性各类疾病上有丰富的临床经验和研究。曾多次应邀国内外讲学；巡诊。在美国和日本讲学期间受到国外专家的高度赞扬。2007年组建了男性自我管理协会，专注于男性手淫问题的研究。同年获得“中国十大优秀公益组织”称号。协会成员都是国内知名的男科专家及他的学生。2013年，为了帮助更多的男性戒除手淫不良习惯，开通了男性自我管理微信公众平台一对一问诊服务，在线帮助手淫习惯者免费提供戒除手淫的方案。
                  <cite>2016-10-24 19:21</cite>                </p>
                  
                


                  
                    
                    
                    
                      
                        
                        
                          
                            
                            
                              
                        
                      
                    
                  
          </div>
                
              </div>
              </div>
<div class="cont_all cont_bor">
                <div class="cont_na">
                    
                  
                    
                      <a href="" onClick="ga('TestTracker.send', 'pageview','/yishengxiangqing/男科')">
                        <p class="na_img" title="">
                          <img src="http://image.39.net/ask/2011/images/doctor_default.gif" alt="" />
                        </p>
                      </a>
                    
                    
                  

                  <div class="na_txt">
                    <p class="txt_size">
                        李焕晨
                      
                    </p>
                    <p class="txt_col">
                        主治医师&nbsp;
                        
                        全科
                    </p>
                  </div>
                </div>
                <p class="con_txt">
                  过度手淫会导致心里上的异常以及性功能障碍,影响身体健康及以后婚姻生活.你需要正确认识手淫的害处.从思想上坚持戒除手淫，上网可以看一些自己喜欢的电影,玩游戏或学习,以分散自己的注意力,让自己没有时间去想.                  同时也可以服用一些戒除手淫方面的药物来戒除。<cite>2016-12-27 19:44</cite>                </p>
                  
                


                  
                    
                    
                    
                      
                        
                        
                          
                            
                            
                              
                          
                        
                      
                    
                  
          </div>
                
              </div>
              
            

        </section>
      
    <!--医生回复end-->

    <!--帖子页植入广告start-->
      
    <!--帖子页植入广告end-->

    <!--帖子页中部通栏广告start-->
    <!--帖子页中部通栏广告end-->

    <!--健康自测start-->
      
      
    <!--健康自测end-->

    <!--相关经验start-->
      
    <!--相关经验end-->

    <!--搜索推荐start-->
      
      
    <!--搜索推荐end-->

    <!--相关经验底部广告start-->
      
        
        
      
    <!--相关经验底部广告end-->

    <!--疾病|症状知识库start-->
      
    <!--疾病|症状知识库end-->


    <!--精选问题 or 内容推荐end-->

    <!--精彩推荐2 start-->
    
    <!--帖子页底部通栏3start-->
      
    <!--帖子页底部通栏3end-->
    <!--相关问题start-->
      <section class="cont_b">
        <div class="test-ad-bt">
          相关问题
          <span class="txt_more">
              <a href="http://so.39.net/wd?words=如何才能戒掉手淫？" title=""
                 onclick="ga('TestTracker.send', 'pageview', '/morequestion/男科')">
                共<i>1999</i>条相关问题&nbsp;&gt;&gt;
              </a>
          </span>
        </div>
        <div class="exper txt_height padd_width">
          
          
            
            <a target="_self"
               
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/12234444.html">
              <p class="exp_txt">如何才能戒掉手淫</p>
            </a>
          
            
              
            
            <a target="_self"
               
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/27974406.html">
              <p class="exp_txt">医生你好，请问如何才能戒除手淫？</p>
            </a>
          
            
            <a target="_self"
               
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/29860433.html">
              <p class="exp_txt">如何才能戒掉手淫的习惯</p>
            </a>
          
            
            <a target="_self"
               
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/4846865.html">
              <p class="exp_txt">如何才能彻底改变手淫</p>
            </a>
          
            
            <a target="_self"
               
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/34745821.html">
              <p class="exp_txt">请问医生我如何才能戒掉手淫？</p>
            </a>
          
            
            <a target="_self"
               style="display:none;"
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/19823913.html">
              <p class="exp_txt">万恶的手淫、应如何才能摆脱</p>
            </a>
          
            
            <a target="_self"
               style="display:none;"
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/40873008.html">
              <p class="exp_txt">如何才能有效戒掉手淫</p>
            </a>
          
            
            <a target="_self"
               style="display:none;"
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/32890585.html">
              <p class="exp_txt">手淫该如何才能戒掉啊？</p>
            </a>
          
            
            <a target="_self"
               style="display:none;"
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/28287973.html">
              <p class="exp_txt">如何才能快速有效戒除手淫</p>
            </a>
          
            
            <a target="_self"
               style="display:none;"
               onclick="ga('TestTracker.send', 'pageview', '/xiangguanwenti/男科')"
               href="http://wapask.39.net/question/25377551.html">
              <p class="exp_txt">如何才能有效戒掉手淫</p>
            </a>
          
        </div>
        <div id="WapRelateTopicTextLink">
          
          
        </div>
      </section>
    <!--相关问题end-->

    <!--悬浮球start-->
      <!--<section class="fixed-qs" id="fixed_qs" onclick="pushbdtj('帖子页-客人态-悬浮球')">
        <div class="fixed-qs-key fixed-qs-key-red"></div>
        <div class="fixed-qs-box">
          <div class="bt">
            <h3>相关问题</h3>
            <a href="http://p.qiao.baidu.com/cps/chat?siteId=10338402&userId=23057437" title="我要提问" onClick="pushbdtj('帖子页-客人态-悬浮球提问')">我要提问</a>
          </div>
          
            <ul>
              
                <li>
                  <a href="http://wapask.39.net/question/12234444.html"
                     title=""
                     onclick="pushbdtj('帖子页-客人态-悬浮球问题(1)')">如何才能戒掉手淫</a>
                </li>
              
                <li>
                  <a href="http://wapask.39.net/question/27974406.html"
                     title=""
                     onclick="pushbdtj('帖子页-客人态-悬浮球问题(2)')">医生你好，请问如何才能戒除手淫？</a>
                </li>
              
                <li>
                  <a href="http://wapask.39.net/question/29860433.html"
                     title=""
                     onclick="pushbdtj('帖子页-客人态-悬浮球问题(3)')">如何才能戒掉手淫的习惯</a>
                </li>
              
                <li>
                  <a href="http://wapask.39.net/question/4846865.html"
                     title=""
                     onclick="pushbdtj('帖子页-客人态-悬浮球问题(4)')">如何才能彻底改变手淫</a>
                </li>
              
                <li>
                  <a href="http://wapask.39.net/question/34745821.html"
                     title=""
                     onclick="pushbdtj('帖子页-客人态-悬浮球问题(5)')">请问医生我如何才能戒掉手淫？</a>
                </li>
              
            </ul>
          
        </div>
      </section>-->
    <!--悬浮球end-->

  <!--Content end-->

  

<!--底部start-->
<section class="footer">
  <div class="fot-top">
    <div class="logo">
      <img src="http://nimage.39.net/ask2016/wap_ask/images/logo.png" alt="">
    </div>
    <div class="sign" id="footerLogin" redirect="http://wapask.39.net/question/10699444.html">
    </div>
  </div>
  <p class="footer-info">
    <a href="http://m.39.net/" title="">39健康网</a>-<a href="http://m.39.net/emarketing/" title="">合作</a>-<a href="http://m.39.net/nav.html" title="">导航</a>-<a href="http://m.39.net/allArticles/" title="">文章</a>
  </p>
</section>
<!--底部end-->

  

  

  <script type="text/javascript">
    $(function () {
      $('.slick').slick({
        dots: true,
        arrows: false
      });
    });
    var isStartHandle = false;
    var pageIndex = 2;

    function loadMore(self, tid, pageCount) {
      var obj = $(self);
      if (!isStartHandle) {
        isStartHandle = true;
        obj.hide();
        pageIndex++;
        if (pageIndex > pageCount) {
          pageIndex = pageCount;
        }
        $.ajax({
          type: "POST",
          url: "/topic/ajaxMoreReply",
          data: {
            tid: tid,
            pageIndex: pageIndex
          },
          dataType:"json",
          success: function (data) {
            //没有回复模板，需要拼接html
            var showUserAd = 'false';
            var firstForumName = '男科';
            var replyList = data.docReplyList;
            var _divEnd = "</div>";

            var _htmlTemp = "";
            var html = "";

            for(var i = 0 ; i < replyList.length; i++){
              var _div1 = "<div class='cont_all cont_bor'>";
              var _div2 = "<div class='cont_na'>";
              //医生头像
              var _imgHtml = ""
              if(firstForumName != "" && firstForumName != null && firstForumName != undefined){
                _imgHtml += '<a href="'+replyList[i].personalUrl+' ';
                _imgHtml +=
                        'onclick="ga(\'TestTracker.send\',\'pageview\',\'/yishengxiangqing/男科\')"'+'">';
              }else{
                _imgHtml += '<a href="'+replyList[i].personalUrl+'" ';
                _imgHtml += 'onclick="ga("TestTracker.send", "pageview", ' +
                        '"/imgdoc/'+firstForumName+'")">';
              }
              _imgHtml += '<p class="na_img" title="">';
              _imgHtml += '<img src="http://wapask.39.net/question/'+replyList[i].picurl+'" alt="">';
              _imgHtml += '</p>';
              _imgHtml += '</a>';

              //医生信息
              var _docInfo = '<div class="na_txt">';
              _docInfo += '<p class="txt_size">';
              _docInfo += replyList[i].dName;
              if( replyList[i].userType == 10 ){
                _docInfo += '<span class="txt_lx">合作</span>';
              }
              _docInfo += "</p>";
              _docInfo += '<p class="txt_col">';
              _docInfo += replyList[i].clinicalTitle+'&nbsp;'+
                      (replyList[i].userType == 10?replyList[i].hospitalName+'&nbsp;':"")+replyList[i].keShiName;
              _docInfo += '</p>';
              _docInfo += _divEnd;

              //cont_na标签div 结束
              _htmlTemp = _div2 + _imgHtml + _docInfo + _divEnd;

              _htmlTemp += '<p class="con_txt">';
              _htmlTemp += replyList[i].Suggest;
              _htmlTemp += '<cite>'+replyList[i].CreatedOnStr+'</cite>';
              _htmlTemp += '</p>';

              //追问及回复
              var _askReply = "";
              if(replyList[i].talkList != null && replyList[i].talkList != undefined){
                for(var j = 0 ; j < replyList[i].talkList.length;j++){
                  _askReply += '<div class="tw_all">';
                  _askReply += '<p class="txt_tw1">';
                  if(replyList[i].talkList[j].type == 1){
                    _askReply += '<span class="txt_tw">追问：</span>';
                  }else{
                    _askReply += '<span class="txt_tw">回答：</span>';
                  }
                  _askReply += replyList[i].talkList[j].content;
                  _askReply += '</p>';
                  _askReply += _divEnd;
                }
              }
              //tw_all 标签div 结束
              _htmlTemp += _askReply;

              //回复下广告
              var _replyAd = '<div class="cont_h" id="">';
              if(showUserAd === 'true'){
                if(firstForumName != "" && firstForumName != null && firstForumName != undefined){
                  _replyAd += '<a href="http://wapask.39.net/question/';&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;_replyAd&#32;+=&#32;replyList[i].replyAdMember.waponlineaskurl+'" class="zx" target="_self" ' ;
                  _replyAd += ' title="'+replyList[i].replyAdMember.waponlineaskname+'">';
                  _replyAd += replyList[i].replyAdMember.waponlineaskname+'</a>';
                }else{
                  _replyAd += '<a href="http://wapask.39.net/question/';&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;_replyAd&#32;+=&#32;replyList[i].replyAdMember.waponlineaskurl+'" class="zx" target="_self" ' ;
                  _replyAd += 'onclick="ga("TestTracker.send","pageview","/zixunzhuanjia/'+firstForumName+'")"'
                  _replyAd += ' title="'+replyList[i].replyAdMember.waponlineaskname+'">';
                  _replyAd += replyList[i].replyAdMember.waponlineaskname+'</a>';
                }
              }else{
                if(firstForumName != "" && firstForumName != null && firstForumName != undefined){
                  _replyAd += '<span class="s2 AdWapAskExpertTextLink2">';
                  //_replyAd += ad;
                  _replyAd += '</span>';
                }else{
                  _replyAd += '<span class="s2 AdWapAskExpertTextLink2"  ';
                  _replyAd +=
                          'onclick="ga("TestTracker.send","pageview","/zixunzhuanjia/'+firstForumName+'")>"';
                  //_replyAd += ad;
                  _replyAd += '</span>';
                }
              }
              _replyAd += _divEnd;
              _htmlTemp = _div1 + _htmlTemp + _replyAd + _divEnd;
              if(i == 0){
                var last = 'false';
                if(last == 'true'){
                  _htmlTemp += '<section class="yuedu_bor" id="">';
                  _htmlTemp += '</section>';
                }
              }
              html += _htmlTemp;
            }

            isStartHandle = false;
            //按钮还原操作
            if (pageIndex >= pageCount) {
              obj.hide();
            }
            else {
              obj.show();
            }
            obj.before(html);
          },
          error: function (ex) {
            alert("系统异常，请稍候再试.");
          }
        });
      }
    }
  </script>

  <script src="http://image.39.net/art2013/js/ad-icon.js" type="text/javascript" charset="GB2312"></script>
  <script type="text/javascript" src="http://image.39.net/js/wapcom.js?time=20170304062029"></script>
</body>
</html>
