<section class="accordion-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-4 align-vertical no-align-mobile">
        <ul class="icons-large">
          <li><i class="icon icon-circle-compass"></i></li>
          <!--<li><i class="icon icon-lightbulb"></i></li>-->
          <!--<li><i class="icon icon-scissors"></i></li>-->
        </ul>
        <h1 class="no-margin-bottom" style="border: 1px solid red">隆回县顺道<br />电子商务有限公司</h1>
      </div>

      <div class="col-sm-7 col-md-4">
        <ul class="accordion">
          <li class="active">
            <div class="title"><span>公司文化</span></div>
            <div class="text">
              <p>隆回县顺道电子商务有限公司，一家专业从事电子商务零售的成人用品公司，前身为成人用品批发商，有着得天独厚的商品渠道和资金优势。网站经营男士健康内裤，为广大男性朋友打造24小时贴身舒适又健康的穿着体验。完善的资质、规范的进货渠道、假一赔十的品质承诺、优质的服务口碑，确立了成人用品行业王牌企业的地位。</p>
            </div>
          </li>
          <li>
            <div class="title"><span>产品货源</span></div>
            <div class="text">
              <p>
                1、净果与国内外众多知名厂商进行战略合作，确保产品质量，100%正品。一手货源，也降低了流通环节，最大程度降低进货成本。<br />

                2、合作的品牌众多，如顶级品牌瑞典LELO、美国CEN、TOPCO SALES、FUNZONE、日本TENGA、杜蕾斯、香港诺兰；国内知名品牌爱侣、百乐、夏奇、倍力乐等。<br/>

                3、通过与各大厂商的战略合作，为加盟商提供稳定有力的货源，也最大限度降低进货价，提升加盟商利润空间。
              </p>
            </div>
          </li>

          <li>
            <div class="title"><span>运营推广</span></div>
            <div class="text">
              1、强大的物流体系：丰富实用的产品配送经验，强大的配送系统支持，实现“快、准、稳”，客户购物体验评价优。<br />

              2、配货专业：有专业的产品配货师，保证产品销售组合的适销性和连续性。<br />

              3、推广方式多样：广播电台、阿里巴巴黄金展位，网站推广、各博客、论坛等强势品牌宣传推广。 <br />

              4、完善的售后服务：加盟后续服务和协助最多，在线服务时间业内最长，合理推广指导，推广方案合理，质优。
            </div>
          </li>
          <li>
            <div class="title"><span>培训售后</span></div>
            <div class="text">
              <p>
                1、高水准导师团队：管理团队全部都是参加过系统训练，对性知识及成人用品均具有专业水准。<br />

                2、教学经验丰富：用心做事，心系发展，净果的培训经验来源于多年经营的沉淀，具有实用性、专业性，行业的提升发展需要有心人。<br />

                3、因材施教：根据客户能力，针对性开设基础培训班、一对一专业培训。因材施教，达到最佳教学效果。
              </p>
            </div>
          </li>

        </ul><!--end of accordion-->
      </div>

      <div class="col-md-4 hidden-sm align-vertical no-align-mobile">
        <div class="feature">
          <h4>加盟优势</h4>
          <p>
            1、强大的品牌优势：拾色科技+净果国际，强强联手，整合20年行业渠道经验，让加盟商赢在起点，俯视群雄。<br />

            2、先进的店面设计理念：摒弃现有成人用品专卖店庸俗的设计风格，符合当代消费者审美，使客户始终处于轻松，自由，休闲，安全的购物体验中。<br />

            3、成功的商业模式：全新O2O新型商业模式，智能化+移动互联+情趣用品，打通线上线下，消费全覆盖，有着无法复制的领先模式。<br />

            4、坚持客户价值：客户的利益，就是拾色文化的一部分，坚持客户价值，使拾色专卖店开一家，成功一家。<br />

            5、优秀的管理团队：在国内成人用品行业都是以小规模作业居多，一人多面手，净果拥有400多人的团队，专业化的分工，把繁杂的运营模式进行流程分解，每一步做到极致。<br/>

            6、专业的经营服务：从加盟商签约起，公司就对加盟商进行全方位的跟踪服务，派专人员进行开业前培训，运营中支持辅导，售后服务解快方案进行贴心服务，让加盟商无后顾之忧。
          </p>
        </div>

      </div>
    </div><!--end of row-->
  </div>
</section>