<header class="page-header">
  <div class="background-image-holder parallax-background">
    <img class="background-image" alt="Background Image" src="img/side3.jpg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-white">联系我们</h2>
        <p>隆回县顺道电子商务有限公司</p>
        <p>联系人：罗涌汉</p>
        <p>电话：18674848282</p>
        <p>座机：0731-89908814</p>
        <p>地址： 湖南省邵阳市隆回县桃洪镇桃洪西路（怡然花园内）</p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</header>
