<%= image_tag "pages/baidu_examine_bg.jpg" %>
<div id="order_form">
  <div class="page-header">
    <h2>马上订购:</h2>
  </div>
  <%= render 'virtual_orders/form', virtual_order: @virtual_order %>
</div>
