<section class="hero-slider">
  <ul class="slides">

    <li class="overlay hover-background">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="/img/layer1.jpg" />
      </div>

      <!--<div class="foreground-image-holder layer-1">-->
      <!--<img class="background-image" alt="Background Image" src="/img/layer2.png" />-->
      <!--</div>-->

      <!--<div class="foreground-image-holder layer-2">-->
      <!--<img class="background-image" alt="Background Image" src="/img/layer3.png" />-->
      <!--</div>-->

      <div class="container align-vertical">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">你需要一条怎样的内裤？</h1>
            <h2 class="text-white">材质优良、环保健康、剪裁合理、透气舒适、抑菌除湿？</h2>
            <h2 class="text-white">以上只是好内裤的标配</h2>
            <button class="btn btn-primary btn-white">"大"有可为，方显男人本色</button>
          </div>
        </div>
      </div><!--end of container-->
    </li><!--end of individual slide-->

    <li class="overlay">
      <div class="background-image-holder parallax-background">
        <img class="background-image" alt="Background Image" src="/img/hero15.jpg">
      </div>

      <div class="container align-vertical">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h2 class="text-white">LET WOMEN<br /> LOVE YOU MORE</h2>
            <h2 class="text-white" style="width:12rem;border: 2px solid yellowgreen">爱从来都不是难事</h2>
            <p class="text-white">你知我深浅，我知你长度</p>
            <p class="text-white">而你和我之间，只相距18CM距离</p>
          </div>
        </div>
      </div><!--end of container-->
    </li><!--end of individual slide-->

    <!--end of individual slide-->

    <!--<li class="overlay">-->
    <!--<div class="background-image-holder parallax-background">-->
    <!--<img class="background-image" alt="Background Image" src="/img/hero7.jpg">-->
    <!--</div>-->

    <!--<div class="container align-vertical">-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 col-sm-9">-->
    <!--<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>-->
    <!--<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>-->
    <!--<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash;end of container&ndash;&gt;-->
    <!--</li>&lt;!&ndash;end of individual slide&ndash;&gt;-->

    <!--<li class="overlay">-->
    <!--<div class="background-image-holder parallax-background">-->
    <!--<img class="background-image" alt="Background Image" src="/img/hero9.jpg">-->
    <!--</div>-->

    <!--<div class="container align-vertical">-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 col-sm-9">-->
    <!--<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>-->
    <!--<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>-->
    <!--<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash;end of container&ndash;&gt;-->
    <!--</li>&lt;!&ndash;end of individual slide&ndash;&gt;-->
  </ul>
</section>

<section class="no-pad-bottom no-pad-top projects-gallery">

  <div class="projects-wrapper clearfix">

    <div class="projects-container">

      <div class="col-md-4 col-sm-6 no-pad project print image-holder">
        <div class="background-image-holder">
          <img class="background-image" alt="Background Image" src="img/project1.jpg">
        </div>
        <div class="hover-state">
          <div class="align-vertical">
            <h3 class="text-white">侧面</h3>
          </div>
        </div>
      </div><!--end of individual project-->

      <div class="col-md-4 col-sm-6 no-pad project branding image-holder">
        <div class="background-image-holder">
          <img class="background-image" alt="Background Image" src="img/project4.jpg">
        </div>
        <div class="hover-state">
          <div class="align-vertical">
            <h3 class="text-white">正面</h3>
          </div>
        </div>
      </div><!--end of individual project-->

      <div class="col-md-4 col-sm-6 no-pad project print image-holder">
        <div class="background-image-holder">
          <img class="background-image" alt="Background Image" src="img/project6.jpg">
        </div>
        <div class="hover-state">
          <div class="align-vertical">
            <h3 class="text-white">反面</h3>
          </div>
        </div>
      </div><!--end of individual project-->

    </div><!--end of projects-container-->

  </div><!--end of projects wrapper-->

</section>
<section class="duplicatable-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <h5>宽裤腰</h5>
          <p>
            高弹力宽边腰带，三线加固，久穿不变形
          </p>
        </div>
      </div><!--end 4 col-->

      <div class="col-sm-4">
        <div class="feature">
          <h5>黄金矿物石涂点</h5>
          <p>
            释放健康磁石能量
          </p>
        </div>
      </div><!--end 4 col-->

      <div class="col-sm-4">
        <div class="feature">
          <h5>莫代尔面料</h5>
          <p>
            柔软 亲肤 健康 舒适
          </p>
        </div>
      </div><!--end 4 col-->
    </div><!--end of row-->
  </div>
</section>
