<header class="page-header">
  <div class="background-image-holder parallax-background">
    <img class="background-image" alt="Background Image" src="/img/side3.jpg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-white">产品介绍</h1>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</header>
<section class="product-right">

  <div class="background-image-holder">
    <img class="background-image" alt="Background Image" src="/img/grey-bg.jpg">
  </div>

  <div class="container align-vertical">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h1>比男人更懂男人</h1>
        <h2>英国内裤，让你从此大不一样！</h2>
        <p class="lead">
          18枚能量磁，24小时释放磁能量<br />
          360度健康呵护，成就性福"大"男人
        </p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="product-image" data-scroll-reveal="enter right and move 100px">
    <img alt="Product Image" src="/img/ipad.png">
  </div>

</section>
