<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "pages/product.png" %>
      <div class="caption">
        <h3>男士养性内裤</h3>
        <p>原价<del>699</del>元，现价129元</p>
        <p>
          <%= link_to '购买', root_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
</div>